.full-screen {
  background: linear-gradient(to right, #00AAFF, #00FF6C);
  width: 99vw;
  min-height: 100vh;
  
}

.full-screen h1 {
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 2rem;
}
.logo{
  margin-bottom: 20px;
  background: linear-gradient(to right, #35f2ff, #ffeb35);
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}